<h1>write here</h1>
<form (ngSubmit)="submit()">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">userName</label>
        <input name="username" [(ngModel)]="CardObject.userName" type="text" class="form-control" id="exampleFormControlInput1" placeholder="enterUserName">
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">enter date</label>
        <input type="date" [(ngModel)]="CardObject.date"  name="date" class="form-control" id="exampleFormControlInput2">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput3" class="form-label">file</label>
        <input type="file" (change)="uploadPicture($event)" name="file" class="form-control" id="exampleFormControlInput3">
      </div>

      <div class="mb-3" >
        <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
        <textarea class="form-control" [(ngModel)]="CardObject.content" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>

      <button class="btn btn-primary mt-2 w-25" type="submit">submit</button>
</form>